<h1>Task Force for Global Health</h1>

<div id="map-canvas" style="width: 50%; height: 50%"></div>

<div><% @results.each do |result| %>
	admin0: <%= result['admin0'] %><br/>
	admin1: <%= result['admin1'] %><br/>
	admin2: <%= result['admin2'] %><br/>
	admin3: <%= result['admin3'] %><br/>
	search: <%= result['search'] %><br/>
	<br/><br/>
</div>
<% end %>
